n8n/workflows/10-audio-intake-api.safe-import.json
{
  "name": "AI Meeting Follow-up - 10 Audio Intake API",
  "nodes": [
    {
      "parameters": {
        "content": "Optional post-MVP audio intake. Use fake/demo audio only. This workflow transcribes a small audio upload with Gemini, then calls the existing Create Draft API. Replace GEMINI_API_KEY and CREATE_DRAFT_WEBHOOK_URL_PLACEHOLDER after import.",
        "height": 180,
        "width": 460
      },
      "id": "b79421cb-dc71-49fe-b223-4a4064561927",
      "name": "README - Audio Intake Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-followup/audio-intake",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "responseContentType": "application/json"
        }
      },
      "id": "360ffd6f-912b-46e8-bd95-8096169fd6d6",
      "name": "Audio Intake API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item.json?.body || item.json || {};\nconst binary = item.binary || {};\nconst audioKey = body.audio_binary_key || Object.keys(binary)[0] || '';\nconst audio = audioKey ? binary[audioKey] : null;\n\nconst rawDemo = body.demo_data_confirmed;\nconst demoString = Array.isArray(rawDemo)\n  ? rawDemo.join(' ').toLowerCase()\n  : String(rawDemo ?? '').toLowerCase().trim();\n\nconst demo =\n  rawDemo === true ||\n  rawDemo === 1 ||\n  ['true', 'on', 'yes', 'checked', '1', 'demo_data_confirmed'].includes(demoString) ||\n  (Array.isArray(rawDemo) && rawDemo.length > 0);\n\nconst required = {\n  meeting_title: String(body.meeting_title || '').trim(),\n  department: String(body.department || '').trim(),\n  meeting_type: String(body.meeting_type || '').trim(),\n  reviewer_name: String(body.reviewer_name || '').trim(),\n};\n\nconst missingFields = Object.entries(required)\n  .filter(([, value]) => !value)\n  .map(([key]) => key);\n\nconst mimeType = String(audio?.mimeType || audio?.mime || '').toLowerCase();\nconst supportedMime =\n  ['audio/mpeg', 'audio/mp3', 'audio/wav', 'audio/x-wav', 'audio/mp4', 'audio/m4a', 'audio/x-m4a'].includes(mimeType) ||\n  mimeType.startsWith('audio/');\n\nconst errors = [];\nif (!demo) errors.push('Demo audio not confirmed.');\nif (missingFields.length) errors.push(`Missing required fields: ${missingFields.join(', ')}.`);\nif (!audio) errors.push('Audio file is missing.');\nif (audio && !supportedMime) errors.push(`Unsupported audio MIME type: ${mimeType || 'unknown'}.`);\n\nlet audioBase64 = '';\nif (audio && supportedMime) {\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, audioKey);\n    audioBase64 = buffer.toString('base64');\n  } catch (error) {\n    errors.push(`Could not read audio binary data: ${error.message}.`);\n  }\n}\n\nconst audio_ok = errors.length === 0;\n\nreturn [{\n  json: {\n    ...body,\n    ...required,\n    audience: String(body.audience || '').trim(),\n    language_hint: String(body.language_hint || '').trim(),\n    notify_channel: String(body.notify_channel || 'none').trim() || 'none',\n    demo_data_confirmed: demo,\n    audio_binary_key: audioKey,\n    audio_file_name: audio?.fileName || '',\n    audio_mime_type: audio?.mimeType || audio?.mime || 'audio/mpeg',\n    audio_base64: audioBase64,\n    source_mode: 'gemini_audio_post_mvp',\n    audio_ok,\n    status: audio_ok ? 'audio_received' : 'audio_rejected_input',\n    error_message: errors.join(' '),\n  },\n}];"
      },
      "id": "ae39b0f6-0de4-4523-b71c-61dc75f73853",
      "name": "Validate Audio Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c3d972-ac72-4a23-bf81-c52f9a0be121",
              "leftValue": "={{ $json.audio_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ef69f36-5410-46dc-bc86-f4d805e0862f",
      "name": "IF Audio Input OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, status: $json.status || 'audio_rejected_input', error_message: $json.error_message || 'Audio input rejected.' } }];"
      },
      "id": "1488b486-0ae5-47d1-970d-3f852b83002d",
      "name": "Stop - Invalid Audio Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const prompt = `Generate a transcript of this fake/demo meeting audio. Return JSON only.\\n\\nReturn this JSON shape:\\n{\\n  \"transcript_language\": \"string\",\\n  \"transcript_text\": \"string\",\\n  \"speaker_notes\": [{ \"speaker\": \"string|null\", \"text\": \"string\" }],\\n  \"quality_notes\": [\"string\"]\\n}\\n\\nDo not summarize. Do not add business follow-up. If audio is unclear, mark the unclear section in transcript_text and add a quality note.`;\nconst gemini_body = {\n  contents: [\n    {\n      parts: [\n        { text: prompt },\n        {\n          inlineData: {\n            mimeType: $json.audio_mime_type || 'audio/mpeg',\n            data: $json.audio_base64,\n          },\n        },\n      ],\n    },\n  ],\n  generationConfig: {\n    responseMimeType: 'application/json',\n    responseJsonSchema: {\n      type: 'object',\n      additionalProperties: false,\n      required: ['transcript_language', 'transcript_text', 'speaker_notes', 'quality_notes'],\n      properties: {\n        transcript_language: { type: 'string' },\n        transcript_text: { type: 'string' },\n        speaker_notes: {\n          type: 'array',\n          items: {\n            type: 'object',\n            additionalProperties: false,\n            required: ['speaker', 'text'],\n            properties: {\n              speaker: { type: ['string', 'null'] },\n              text: { type: 'string' },\n            },\n          },\n        },\n        quality_notes: { type: 'array', items: { type: 'string' } },\n      },\n    },\n  },\n};\nconst { audio_base64, ...safeMeta } = $json;\nreturn [{ json: { ...safeMeta, gemini_body } }];"
      },
      "id": "098b6426-c943-49c2-8861-079962b146e8",
      "name": "Build Gemini Transcript Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst raw =\n  item.message ||\n  item.error?.message ||\n  item.errorMessage ||\n  item.description ||\n  '';\n\nlet parsedMessage = '';\nlet statusCode = item.statusCode || item.status || item.response?.status || '';\n\nconst rawString = String(raw);\n\nconst jsonMatch = rawString.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    parsedMessage = parsed?.error?.message || '';\n    statusCode = parsed?.error?.code || statusCode;\n  } catch (error) {\n    parsedMessage = '';\n  }\n}\n\nconst normalizedRaw = `${statusCode} ${rawString} ${parsedMessage}`.toLowerCase();\n\nlet status = 'gemini_transcription_failed';\nlet error_message = 'Gemini transcription failed. Use manual transcript input as fallback.';\n\nif (\n  normalizedRaw.includes('503') ||\n  normalizedRaw.includes('unavailable') ||\n  normalizedRaw.includes('high demand')\n) {\n  status = 'gemini_transcription_unavailable';\n  error_message = 'Gemini transcription is temporarily unavailable because the model is under high demand. Try again later or paste the transcript manually.';\n} else if (\n  normalizedRaw.includes('404') ||\n  normalizedRaw.includes('not found') ||\n  normalizedRaw.includes('model')\n) {\n  status = 'gemini_model_not_available';\n  error_message = 'The configured Gemini model is not available for this API key. Check the model name and project quota.';\n} else if (\n  normalizedRaw.includes('429') ||\n  normalizedRaw.includes('rate') ||\n  normalizedRaw.includes('quota') ||\n  normalizedRaw.includes('spacing your requests')\n) {\n  status = 'gemini_rate_limited';\n  error_message = 'Gemini rate limit was reached. Wait briefly and try again, or paste the transcript manually.';\n} else if (\n  normalizedRaw.includes('401') ||\n  normalizedRaw.includes('403') ||\n  normalizedRaw.includes('api key') ||\n  normalizedRaw.includes('permission')\n) {\n  status = 'gemini_auth_failed';\n  error_message = 'Gemini authentication failed. Check the API key or Gemini project permissions.';\n}\n\nreturn [{\n  json: {\n    ok: false,\n    status,\n    error_message,\n    raw_error_message: rawString.slice(0, 500),\n  },\n}];\n"
      },
      "id": "6579ebdd-aabf-42a0-a14d-3c1f2f5667ab",
      "name": "Prepare Gemini Failed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "let meta = {};\ntry { meta = $('Build Gemini Transcript Request').first().json; } catch (error) {}\nconst response = $input.first().json;\nconst text = response?.candidates?.[0]?.content?.parts?.[0]?.text || response?.text || '';\nlet parsed;\ntry {\n  parsed = typeof text === 'string' ? JSON.parse(text) : text;\n} catch (error) {\n  return [{ json: { ok: false, status: 'gemini_transcript_parse_failed', error_message: `Gemini returned non-JSON transcript: ${String(error.message).slice(0, 240)}` } }];\n}\nconst transcript = String(parsed?.transcript_text || '').trim();\nif (transcript.length < 50) {\n  return [{ json: { ok: false, status: 'gemini_transcript_empty', error_message: 'Gemini transcript was empty or too short.' } }];\n}\nreturn [{ json: {\n  ok: true,\n  meeting_title: meta.meeting_title,\n  department: meta.department,\n  meeting_type: meta.meeting_type,\n  audience: meta.audience,\n  language_hint: meta.language_hint || parsed.transcript_language || '',\n  reviewer_name: meta.reviewer_name,\n  notify_channel: meta.notify_channel || 'none',\n  demo_data_confirmed: true,\n  source_mode: 'gemini_audio_post_mvp',\n  manual_transcript: transcript,\n  transcript_language: parsed.transcript_language || '',\n  speaker_notes_json: JSON.stringify(parsed.speaker_notes || []),\n  quality_notes_json: JSON.stringify(parsed.quality_notes || []),\n} }];"
      },
      "id": "9ec9e787-19b2-4bea-be34-6c33499cc106",
      "name": "Parse Gemini Transcript JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bdc96574-236f-4d19-8d66-d1c36bcbbcc9",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a812516-4d1e-4b34-804d-61f8da56154d",
      "name": "IF Transcript OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, status: $json.status || 'gemini_transcript_failed', error_message: $json.error_message || 'Transcript validation failed.' } }];"
      },
      "id": "32a08867-d6ec-40f2-9bed-c6629cb40798",
      "name": "Prepare Transcript Failed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst rawMessage = item.message || item.error?.message || item.errorMessage || item.description || 'Create Draft API call failed after transcription.';\nreturn [{ json: { ok: false, status: 'audio_create_draft_failed', error_message: String(rawMessage).slice(0, 500) } }];"
      },
      "id": "5983d3c5-6260-4a0b-9ac5-9ad85134bbb6",
      "name": "Prepare Create Draft Failed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=<GEMINI_API_KEY>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_body }}",
        "options": {
          "timeout": 500000
        }
      },
      "id": "60c36ee0-baa9-4f80-add9-5b328515a462",
      "name": "LLM Audio Transcription HTTP - Configure API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        176
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Replace GEMINI_API_KEY with an n8n credential or expression before using."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "CREATE_DRAFT_WEBHOOK_URL_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  meeting_title: $json.meeting_title,\n  department: $json.department,\n  meeting_type: $json.meeting_type,\n  audience: $json.audience,\n  language_hint: $json.language_hint,\n  reviewer_name: $json.reviewer_name,\n  notify_channel: $json.notify_channel,\n  demo_data_confirmed: true,\n  manual_transcript: $json.manual_transcript,\n  source_mode: $json.source_mode,\n  transcript_language: $json.transcript_language,\n  speaker_notes_json: $json.speaker_notes_json,\n  quality_notes_json: $json.quality_notes_json\n} }}",
        "options": {
          "timeout": 500000
        }
      },
      "id": "172df829-cb15-4b51-8181-cdc874cb0c5f",
      "name": "Call Create Draft Webhook - Configure URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        96
      ],
      "notesInFlow": true,
      "onError": "continueErrorOutput",
      "notes": "Set URL to your production webhook, for example http://localhost:5678/webhook/meeting-followup/create-draft."
    }
  ],
  "connections": {
    "Audio Intake API": {
      "main": [
        [
          {
            "node": "Validate Audio Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Audio Input": {
      "main": [
        [
          {
            "node": "IF Audio Input OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio Input OK": {
      "main": [
        [
          {
            "node": "Build Gemini Transcript Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Invalid Audio Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Transcript Request": {
      "main": [
        [
          {
            "node": "LLM Audio Transcription HTTP - Configure API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Transcript JSON": {
      "main": [
        [
          {
            "node": "IF Transcript OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Transcript OK": {
      "main": [
        [
          {
            "node": "Call Create Draft Webhook - Configure URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Transcript Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Audio Transcription HTTP - Configure API Key": {
      "main": [
        [
          {
            "node": "Parse Gemini Transcript JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Gemini Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Create Draft Webhook - Configure URL": {
      "main": [
        [],
        [
          {
            "node": "Prepare Create Draft Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3bdd1e71-261d-48b6-81c1-cac5cf5598a0",
  "meta": {
    "instanceId": "524ba018723ad5a0aecb73c8b6c971d2ca72ca1a97b2eccfb28bc8983a5b5295"
  },
  "tags": []
}